In [1]:
import pandas as pd
import numpy as np

In [2]:
# df viene de dataframe xd
df = pd.read_csv("kc_house_data.csv")
# se eliminan las columnas con información irrelevante para el analisis
df.drop(['id','date','zipcode'],axis=1,inplace=True)
# se muestran por defecto las primeras 5 filas del dataset
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503

In [3]:
# El dataset posee 21613 casos de estudio (casas a la venta)
# Además de 18 atributos relevantes para cada uno de estos casos
df.shape

(21613, 18)

In [4]:
# En su mayoría los atributos se representan con un numero entero
# Se utiliza float64 cuando se necesita representar una fracción
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 18 columns):
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(13)
memory usage: 3.0 MB

In [5]:
# En promedio las casas se venden por 540000USD
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,47.560053,-122.213896,1986.552492,12768.455652
std,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,47.777600,-121.315000,6210.000000,871200.000000

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()
# Se llevan los datos de cada atributo a una normal estandar
# z=(x-\mu)/\sigma
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
# Para la variable a predecir se realiza linealizacion (log)
# Esto es para que la regresion lineal tenga sentido
df_scaled['price'] = np.log(df['price'])
# df_scaled.head()

In [42]:
import sklearn.linear_model as lm
# Se consideran todos los casos y todos los atributos menos el precio
X = df_scaled.iloc[:, 1:]
#Numero de casos (N=21613)
N = X.shape[0]
p = X.shape[1]
# Se inserta una columna llena de 1s al final del data set
# Corresponde al elemento que se multiplicara con el intercepto
# del atributo en la regresión lineal
X.insert(X.shape[1], 'intercept', np.ones(N))
# En y se guarda la columna con los precios, es decir los valores de la regresion
y = df_scaled['price']
# mascara estatica con el 70% de los datos
# se crea un vector lleno de 0s del largo de x
# podria reemplazarse con mascara=np.zeros(N)
mascara = np.zeros(len(X))
# 70% de los datos. De nuevo, creo que se puede reemplazar con N xd
# limit = int(N*0.7)
limit = int(len(X)*0.7)
# llena los primeros N*0.7 elementos de mascara con 1s
mascara[:limit] = 1
# istrain se define como un vector con las mismas dimensiones de mascara
# y que indica si el elemento es o no parte del 70% de entrenamiento
istrain = mascara == 1
# Con la ayuda de istrain se extraen los atributos y precio del 70% de 
# los casos, los cuales seran utilizados como entrenamiento
Xtrain = X[istrain]
ytrain = y[istrain]
# El resto de los datos se utilizan como test (30%)
Xtest = X[np.logical_not(istrain)]
ytest = y[np.logical_not(istrain)]
# Se define una regresion donde no se calcula el intercepto
# Se deja de esta forma ya que los datos ya se encuentran normalizados
# (centrados en 0)
linreg = lm.LinearRegression(fit_intercept = False)
# Finalmente se define la regresion lineal con los datos de entrenamiento
linreg.fit(Xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=1, normalize=False)

In [67]:
weights = linreg.coef_
atribute_names = list(X.columns.values)
table1 = pd.DataFrame(d)
yhat = linreg.predict(Xtrain)
yerror = ytrain - yhat
yerror2 = yerror**2
Syerror2 = np.sum(yerror2)
sigma = np.sqrt(Syerror2/(N-p-1))
v = np.linalg.inv(np.dot(np.transpose(X),X))
vj = v.diagonal()
zcores = np.zeros(p+1)
for i in range(p+1):
    zc = weights[i]/(sigma*np.sqrt(vj[i]))
    zcores[i]=zc
    
d = {'Pesos' : pd.Series(weights, index =atribute_names),
    'Z-Score': pd.Series(zscores, index =atribute_names)}

C:\Users\Javier\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in sqrt
  del sys.path[0]